ul.FM2_DWFullScreenPage1menualt, ul.FM_CSS_reset, ul.FM2_DWFullScreenPage1menualt div, ul.FM2_DWFullScreenPage1menualt span, ul.FM2_DWFullScreenPage1menualt ul, ul.FM2_DWFullScreenPage1menualt li, ul.FM2_DWFullScreenPage1menualt table, ul.FM2_DWFullScreenPage1menualt tr, ul.FM2_DWFullScreenPage1menualt th, ul.FM2_DWFullScreenPage1menualt td, ul.FM2_DWFullScreenPage1menualt a {
    background: none repeat top left scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 0 none #000;
    border-right: 0 none #000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: Black;
    font-size: 100%;
}

.relativeDiv {
    position: relative;
}

ul.FM2_DWFullScreenPage1menualt, ul.FM2_DWFullScreenPage1menualt ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

ul.FM2_DWFullScreenPage1menualt a:active, ul.FM2_DWFullScreenPage1menualt a:focus {
    outline-style: none;
}

ul.FM2_DWFullScreenPage1menualt, ul.FM2_DWFullScreenPage1menualt ul {
    display: block;
}

ul.FM2_DWFullScreenPage1menualt li {
    display: block;
}

ul.FM2_DWFullScreenPage1menualt span, ul.FM2_DWFullScreenPage1menualt font {

}

ul.FM2_DWFullScreenPage1menualt {
    position: relative;
    display: inline-block;
    width: auto;
}

div.FM2_DWFullScreenPage1menualt_container {
    z-index: 9999;
    text-align: center;
    float: none;
    background-image: none;
}

div.FM2_DWFullScreenPage1menualt_container.stick {
    position: fixed;
    top: 0;
}

*+html ul.FM2_DWFullScreenPage1menualt {
    display: inline;
}

ul.FM2_DWFullScreenPage1menualt ul {
    position: absolute;
    z-index: -1;
    text-align: right;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
}

ul.FM2_DWFullScreenPage1menualt, ul.FM2_DWFullScreenPage1menualt ul {
    margin: 0 0 0 0;
}

ul.FM2_DWFullScreenPage1menualt, ul.FM2_DWFullScreenPage1menualt ul {
    padding: 0 0 0 0;
}

ul.FM2_DWFullScreenPage1menualt a {
    display: block;
}

ul.FM2_DWFullScreenPage1menualt span, ul.FM2_DWFullScreenPage1menualt font {
    display: block;
}

ul.FM2_DWFullScreenPage1menualt ul {

}

ul.FM2_DWFullScreenPage1menualt li {
    position: relative;
}

ul.FM2_DWFullScreenPage1menualt ul li {
    position: relative;
}

ul.FM2_DWFullScreenPage1menualt ul ul li {
    position: relative;
}

ul.FM2_DWFullScreenPage1menualt li >ul {
    display: none;
}

ul.FM2_DWFullScreenPage1menualt li {
    float: left;
}

ul.FM2_DWFullScreenPage1menualt {
    z-index: 100;
    top: auto;
    left: auto;
}

div.FM2_DWFullScreenPage1menualt_container {
    border-left: 0px none #000;
    border-top: 0 none #000;
    border-bottom: 0 none #000;
    border-right: 0 none #000;
    width: auto;
    height: 57px;
    background-image: none;
}

div.FM2_DWFullScreenPage1menualt_container {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt li a {
    background: none repeat-x left center scroll;
    padding: 18px 0px 18px 0px;
    transition: background .5s, padding .5s, border .5s, border-radius .5s, color .5s;
    -webkit-transition: background .5s, padding .5s, border .5s, border-radius .5s, color .5s;
    width: auto;
    height: auto;
    box-shadow: none;
    letter-spacing: 3px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0px;
}

ul.FM2_DWFullScreenPage1menualt li a, ul.FM2_DWFullScreenPage1menualt li a span, ul.FM2_DWFullScreenPage1menualt li a font {
    font: normal normal bold 13px/100% Raleway, sans-serif;
    text-transform: none;
    color: #1d8f19;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
}

ul.FM2_DWFullScreenPage1menualt li {
    padding: 0 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt li.hovered >a {
    background: url("horizontal/skin06/dark_blue/main_button_over.png") repeat-x left center scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 0px solid #f63;
    border-right: 0 none #000;
}

ul.FM2_DWFullScreenPage1menualt li:hover >a, ul.FM2_DWFullScreenPage1menualt li.hover >a {
    padding: 18px 0px 18px 0px;
    height: auto;
    letter-spacing: 3px;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: left center;
    background-image: none;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0px;
}

ul.FM2_DWFullScreenPage1menualt li.hovered >a, ul.FM2_DWFullScreenPage1menualt li.hovered >a span, ul.FM2_DWFullScreenPage1menualt li.hovered >a font {
    font: normal normal bold 13px/100% Tahoma, Geneva, sans-serif;
    color: #212121;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

ul.FM2_DWFullScreenPage1menualt li:hover >a, ul.FM2_DWFullScreenPage1menualt li.hover >a, ul.FM2_DWFullScreenPage1menualt li:hover >a span, ul.FM2_DWFullScreenPage1menualt li.hover >a span, ul.FM2_DWFullScreenPage1menualt li:hover >a font, ul.FM2_DWFullScreenPage1menualt li.hover >a font {
    font: normal normal 700 13px/100% Raleway, sans-serif;
    color: #21cd99;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

ul.FM2_DWFullScreenPage1menualt li a span {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: none;
}

ul.FM2_DWFullScreenPage1menualt li a span, ul.FM2_DWFullScreenPage1menualt li a font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt li.hovered >a span {
    padding: 0px 0px 0px 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt li:hover >a span, ul.FM2_DWFullScreenPage1menualt li.hover >a span {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt li:hover >a span, ul.FM2_DWFullScreenPage1menualt li.hover >a span, ul.FM2_DWFullScreenPage1menualt li:hover >a font, ul.FM2_DWFullScreenPage1menualt li.hover >a font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt li a.sel span {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("horizontal/skin06/dark_blue/dark.png");
}

ul.FM2_DWFullScreenPage1menualt li a.sel span, ul.FM2_DWFullScreenPage1menualt li a.sel font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt li a.sel {
    background: none repeat-x center top scroll;
    padding: 18px 0px 18px 0px;
    height: auto;
    letter-spacing: 3px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0px;
}

ul.FM2_DWFullScreenPage1menualt li a.sel, ul.FM2_DWFullScreenPage1menualt li a.sel span, ul.FM2_DWFullScreenPage1menualt li a.sel font {
    font: normal normal 700 13px/100% Raleway, sans-serif;
    color: #1d8f19;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

ul.FM2_DWFullScreenPage1menualt ul li {
    float: none;
}

ul.FM2_DWFullScreenPage1menualt li >.ui-effects-wrapper {
    top: 58px;
    left: 0px;
}

ul.FM2_DWFullScreenPage1menualt li ul {
    top: auto;
    left: 1px;
}

ul.FM2_DWFullScreenPage1menualt ul {
    background: none repeat left top scroll;
    width: 172px;
    height: auto;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

ul.FM2_DWFullScreenPage1menualt ul {
    padding: 0px 0 0px 0;
    background-image: -webkit-linear-gradient(top, #37e 0%, #e73 100%);
    background-image: -moz-linear-gradient(top, #37e 0%, #e73 100%);
    background-image: -o-linear-gradient(top, #37e 0%, #e73 100%);
    background-image: -ms-linear-gradient(top, #37e 0%, #e73 100%);
    background-image: linear-gradient(to bottom, #37e 0%, #e73 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #37e), color-stop(100%, #e73));
}

ul.FM2_DWFullScreenPage1menualt ul li a {
    background: #fff none no-repeat left center scroll;
    border-left: 0px solid #fff;
    border-bottom: 1px solid #eee;
    padding: 15px 0px 15px 17px;
    width: 155px;
    height: auto;
    box-shadow: none;
    border-top-width: 0px;
    border-right-width: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

ul.FM2_DWFullScreenPage1menualt ul li a, ul.FM2_DWFullScreenPage1menualt ul li a span, ul.FM2_DWFullScreenPage1menualt ul li a font {
    font: normal normal normal 13px/100% "Open Sans", sans-serif;
    color: #2c2c2c;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

ul.FM2_DWFullScreenPage1menualt ul li {
    padding: 0 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt ul li.hovered >a {
    background: #39f none no-repeat left center scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 0 none #000;
    border-right: 0 none #000;
}

ul.FM2_DWFullScreenPage1menualt ul li:hover >a, ul.FM2_DWFullScreenPage1menualt ul li.hover >a {
    background: #00bfff none no-repeat left center scroll;
    border-bottom: 1px solid transparent;
    padding: 15px 0px 15px 17px;
    height: auto;
    width: 155px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

ul.FM2_DWFullScreenPage1menualt ul li.hovered >a, ul.FM2_DWFullScreenPage1menualt ul li.hovered >a span, ul.FM2_DWFullScreenPage1menualt ul li.hovered >a font {
    font: normal normal normal 12px/100% Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

ul.FM2_DWFullScreenPage1menualt ul li:hover >a, ul.FM2_DWFullScreenPage1menualt ul li.hover >a, ul.FM2_DWFullScreenPage1menualt ul li:hover >a span, ul.FM2_DWFullScreenPage1menualt ul li.hover >a span, ul.FM2_DWFullScreenPage1menualt ul li:hover >a font, ul.FM2_DWFullScreenPage1menualt ul li.hover >a font {
    font: normal normal normal 13px/100% "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

ul.FM2_DWFullScreenPage1menualt ul li a span {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt ul li a span, ul.FM2_DWFullScreenPage1menualt ul li a font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt ul li.hovered >a span {
    padding: 0px 0px 0px 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt ul li:hover >a span, ul.FM2_DWFullScreenPage1menualt ul li.hover >a span {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt ul li:hover >a span, ul.FM2_DWFullScreenPage1menualt ul li.hover >a span, ul.FM2_DWFullScreenPage1menualt ul li:hover >a font, ul.FM2_DWFullScreenPage1menualt ul li.hover >a font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt ul li a.sel span {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt ul li a.sel span, ul.FM2_DWFullScreenPage1menualt ul li a.sel font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt ul li a.sel {
    background: #fff none no-repeat left center scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 1px none transparent;
    border-right: 0 none #000;
    padding: 15px 0px 15px 17px;
    width: 155px;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

ul.FM2_DWFullScreenPage1menualt ul li a.sel, ul.FM2_DWFullScreenPage1menualt ul li a.sel span, ul.FM2_DWFullScreenPage1menualt ul li a.sel font {
    font: normal normal normal 13px/100% "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

ul.FM2_DWFullScreenPage1menualt ul ul li {
    float: none;
}

ul.FM2_DWFullScreenPage1menualt ul .ui-effects-wrapper {
    top: 0px;
    left: 120px;
}

ul.FM2_DWFullScreenPage1menualt ul ul {
    top: 0px;
    left: 120px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
}

ul.FM2_DWFullScreenPage1menualt ul ul {
    border-left: 0px solid #cdcdcd;
    border-top: 0px solid #cdcdcd;
    border-bottom: 0px solid #cdcdcd;
    border-right: 0px solid #cdcdcd;
    width: 172px;
    height: auto;
    background-color: #fff;
    background-image: none;
}

ul.FM2_DWFullScreenPage1menualt ul ul {
    padding: 0px 0 0px 0;
    top: 0;
    z-index: -150;
}

ul.FM2_DWFullScreenPage1menualt ul ul li a {
    background: #fff none no-repeat left center scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 1px solid #eee;
    border-right: 0 none #000;
    padding: 15px 0px 15px 17px;
    width: 155px;
    height: auto;
}

ul.FM2_DWFullScreenPage1menualt ul ul li a, ul.FM2_DWFullScreenPage1menualt ul ul li a span, ul.FM2_DWFullScreenPage1menualt ul ul li a font {
    font: normal normal normal 13px/100% "Open Sans", sans-serif;
    color: #2c2c2c;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

ul.FM2_DWFullScreenPage1menualt ul ul li {
    padding: 0 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt ul ul li.hovered >a {
    background: #39f none no-repeat left center scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 0 none #000;
    border-right: 0 none #000;
}

ul.FM2_DWFullScreenPage1menualt ul ul li:hover >a, ul.FM2_DWFullScreenPage1menualt ul ul li.hover >a {
    background: #00bfff none no-repeat left center scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 1px solid transparent;
    border-right: 0 none #000;
    padding: 15px 0px 15px 17px;
}

ul.FM2_DWFullScreenPage1menualt ul ul li.hovered >a, ul.FM2_DWFullScreenPage1menualt ul ul li.hovered >a span, ul.FM2_DWFullScreenPage1menualt ul ul li.hovered >a font {
    font: normal normal normal 12px/100% Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

ul.FM2_DWFullScreenPage1menualt ul ul li:hover >a, ul.FM2_DWFullScreenPage1menualt ul ul li.hover >a, ul.FM2_DWFullScreenPage1menualt ul ul li:hover >a span, ul.FM2_DWFullScreenPage1menualt ul ul li.hover >a span, ul.FM2_DWFullScreenPage1menualt ul ul li:hover >a font, ul.FM2_DWFullScreenPage1menualt ul ul li.hover >a font {
    font: normal normal normal 13px/100% "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

ul.FM2_DWFullScreenPage1menualt ul ul li a span {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt ul ul li a span, ul.FM2_DWFullScreenPage1menualt ul ul li a font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt ul ul li.hovered >a span {
    padding: 0px 0px 0px 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt ul ul li:hover >a span, ul.FM2_DWFullScreenPage1menualt ul ul li.hover >a span {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt ul ul li:hover >a span, ul.FM2_DWFullScreenPage1menualt ul ul li.hover >a span, ul.FM2_DWFullScreenPage1menualt ul ul li:hover >a font, ul.FM2_DWFullScreenPage1menualt ul ul li.hover >a font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt ul ul li a.sel span {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
}

ul.FM2_DWFullScreenPage1menualt ul ul li a.sel span, ul.FM2_DWFullScreenPage1menualt ul ul li a.sel font {
    padding: 0px 0px 0px 0px;
}

ul.FM2_DWFullScreenPage1menualt ul ul li a.sel {
    background: #00bfff none no-repeat left center scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 1px solid transparent;
    border-right: 0 none #000;
    padding: 15px 0px 15px 17px;
    width: 155px;
}

ul.FM2_DWFullScreenPage1menualt ul ul li a.sel, ul.FM2_DWFullScreenPage1menualt ul ul li a.sel span, ul.FM2_DWFullScreenPage1menualt ul ul li a.sel font {
    font: normal normal normal 13px/100% "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

@media screen and (max-width:648px){
    .FM2_DWFullScreenPage1menualt_container {
        display: none;
    }

    a#FM2_DWFullScreenPage1menualt_mobile_button {
        display: block;
    }

}

@media screen and (min-width:649px){
    .FM2_DWFullScreenPage1menualt_container {
        display: block;
    }

    a#FM2_DWFullScreenPage1menualt_mobile_button {
        display: none;
    }

}

.FM2_DWFullScreenPage1menualt_mobile-overlay {
    background: rgba(0, 0, 0, .7) none repeat top left scroll;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    display: inline;
    z-index: 10050;
}

.FM2_DWFullScreenPage1menualt_mobile-overlay-hide {
    background: rgba(0, 0, 0, 0) none repeat top left scroll;
    display: none;
}

a#FM2_DWFullScreenPage1menualt_mobile_button {
    padding: 1em 0px 1em 0px;
    position: relative;
    width: auto;
    text-decoration: none;
    min-width: 50px;
    text-overflow: ellipsis;
    text-align: right;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #37f;
    background-color: #414141;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

a#FM2_DWFullScreenPage1menualt_mobile_button span {
    color: #21cd99;
}

a#FM2_DWFullScreenPage1menualt_mobile_button span.caption {
    text-transform: none;
}

a#FM2_DWFullScreenPage1menualt_mobile_button span.caption:before {
    background: url("mini_menu.png") no-repeat 0 center scroll;
    width: 18px;
}

a#FM2_DWFullScreenPage1menualt_mobile_button span.down-arrow {
    display: none;
}

a#FM2_DWFullScreenPage1menualt_mobile_button span.caption {
    font-size: 14px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.main-menu-header {
    background: url("close_icon.png") no-repeat center center scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 0 none #000;
    border-right: 0 none #000;
    padding: 14px 14px 14px 14px;
    position: relative;
    width: 14px;
    height: 14px;
    float: right;
    text-decoration: none;
    min-width: 14px;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.main-menu-header p span.caption:before {
    background: url("mini_menu.png") no-repeat -2px center scroll;
    width: 18px;
    content: " ";
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 9px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: .9em;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header {
    background: #000 none repeat top left scroll;
    position: relative;
    width: auto;
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back a {
    padding: 1em 0px 1em 0px;
    overflow: hidden;
    background-color: #37f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >a {
    background: none repeat left top scroll;
    display: inline-block;
    width: 50px;
    height: 42px;
    float: left;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >a:hover, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >a.hover {
    background-color: lime;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p {
    margin: 0 0 0 0;
    color: #fff;
    text-indent: -40px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p:hover, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p.hover {
    color: #ccf;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p a {
    background: none repeat left top scroll;
    text-decoration: none;
    display: block;
    width: auto;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container >.menu {
    float: left;
    width: 100%;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li {
    background: none repeat left top scroll;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    position: relative;
    line-height: 50px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li p {
    margin: 0 0 0 0;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li a {
    background: none repeat left top scroll;
    border-left: 0 none #000;
    border-top: 0 none #000;
    border-bottom: 0 none #000;
    border-right: 0 none #000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .branch, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .leaf {
    margin: 0 5px 0 5px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .branch:before {
    content: "+ ";
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .leaf:before {
    content: "- ";
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li.ellipsis:last-child {
    border-bottom: 2px solid #00bfff;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p a {
    border-bottom: 2px solid #00bfff;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back ul {
    margin: 0px 10px 10px 10px;
    list-style-type: none;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container div.main-menu ul li.clicked, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container div.submenu ul li.clicked {
    background-color: #00bfff;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li.ellipsis a {
    width: auto;
    float: left;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li a {
    padding: 0 9px 0 9px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li a, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li a span {
    color: white;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .leaf:before, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .branch:before {
    width: 10px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .leaf:before {
    opacity: .5;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .branch:before {
    background: url("mini_arrow.png") no-repeat top left scroll;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .branch:before, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .leaf:before, a#FM2_DWFullScreenPage1menualt_mobile_button span.caption:before {
    content: " ";
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    background-position: -2px 1px;
    margin-right: 9px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li.ellipsis, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p a {
    background-color: #414141;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >a {
    background-color: #00bfff;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p a {
    text-align: center;
    color: #fff;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >a {
    background: url("mini_arrow_large.png") no-repeat 17px 15px scroll;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >a:hover, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >a.hover {
    background-color: transparent;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li {
    height: 43px;
    line-height: 0;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li.ellipsis a {
    margin-top: 10px;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container >.main-menu:before {
    background: #00bfff none repeat top left scroll;
    margin: 0 10px 0 10px;
    display: block;
    width: auto;
    height: 2px;
    content: " ";
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back a span, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li a, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li a span, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p a {
    color: #fff;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li.ellipsis:last-child, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header p >a {
    border-bottom-color: #00bfff;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >a, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container >.main-menu:before, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container div.main-menu ul li.clicked, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container div.submenu ul li.clicked {
    background-color: #00bfff;
    border-bottom-color: #00bfff;
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container ul li.ellipsis, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-header >p a, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.main-menu-header, div#FM2_DWFullScreenPage1menualt_jq_menu_back {
    background-color: #414141;
}

a#FM2_DWFullScreenPage1menualt_mobile_button {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
}

a#FM2_DWFullScreenPage1menualt_mobile_button span {
    color: #21cd99;
}

a#FM2_DWFullScreenPage1menualt_mobile_button span.caption:before, div#FM2_DWFullScreenPage1menualt_jq_menu_back div.main-menu-header p span.caption:before {
    background-image: url("mini_menu_green.png");
}

div#FM2_DWFullScreenPage1menualt_jq_menu_back div.menu-container .branch:before {
    background: url("mini_arrow.png") no-repeat top left scroll;
}

ul.FM2_DWFullScreenPage1menualt li.hover >a.sel {
    height: auto;
}

