/* lte IE 9 style*/
.footer {
	-pie-background: rgba(0, 0, 0, 0.6) none scroll ;
	-pie-background: rgba(0, 0, 0, 0.6);
	position: relative;
}

@media only screen and (min-width: 768px) { }@media only screen and (min-width: 1024px) { }