@charset "UTF-8";
.row_30 {
  height: 976px; }
  .row_30 .home-section {
    height: 100%;
    padding: 220px 0px; }

.row_58 {
  padding-top: 100px;
  height: 976px; }

.row_31 {
  padding-top: 230px;
  height: 976px; }
  .row_31 span {
    font-weight: bold; }
  .row_31 span.span14 {
    font-weight: 300; }

.row_38 {
  padding-top: 360px;
  height: 976px; }

.row_39 {
  border: none;
  padding-top: 60px;
  height: 976px !important; }
  .row_39 .two-img-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .row_39 .two-img-container .single-img-container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .row_39 .two-img-container .single-img-container img {
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%;
        border: #77b174 solid 1px; }
      .row_39 .two-img-container .single-img-container p.name {
        color: #1d8f19;
        margin-bottom: 5px;
        margin-top: 10px;
        font-weight: 800;
        font-size: 17px; }
      .row_39 .two-img-container .single-img-container p.designation {
        color: #1d8f19;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 600;
        font-size: 14px; }
      .row_39 .two-img-container .single-img-container button {
        margin: 1px 0;
        color: #1d8f19;
        text-decoration: none;
        padding: 2px 15px;
        border: 0 solid;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        background: #fff;
        text-align: center;
        border-width: 2px;
        border-color: #1D8F19;
        transition: all 0.4s linear 0s;
        font: normal normal 400 18px/157% Source Sans Pro, sans-serif; }
      .row_39 .two-img-container .single-img-container button:hover {
        background-color: rgba(29, 143, 25, 0.4); }
  .row_39 button:focus {
    outline: -webkit-focus-ring-color auto 0px;
    -webkit-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s; }
  .row_39 .slick-dots li button:before {
    content: '■';
    font-size: 34px;
    opacity: .25;
    color: #2e5e2e; }
  .row_39 .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #2e5e2e; }

.column_36 {
  width: 63%; }
  .column_36 h3 {
    font-weight: bold; }

button {
  cursor: pointer; }

.column_46 button {
  width: 224px;
  border-radius: 100%;
  height: 204px;
  padding: 0px;
  background: transparent;
  border: none;
  margin-top: 80px; }
  .column_46 button img {
    cursor: pointer;
    width: 80%;
    margin: 0px auto; }
  .column_46 button img.image-field1:hover {
    -webkit-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
    width: 93% !important;
    display: inline-block; }
  .column_46 button img.image-field1:focus {
    outline: -webkit-focus-ring-color auto 0px; }
.column_46 button:focus {
  outline: -webkit-focus-ring-color auto 0px; }

.slide-div {
  display: flex;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .slide-div .slide-track {
    display: flex;
    flex-direction: row; }
    .slide-div .slide-track .slide2, .slide-div .slide-track .slide3, .slide-div .slide-track .slide4, .slide-div .slide-track .slide5 {
      min-width: 100%; }

ul.FM2_DWFullScreenPage1menualt li a:hover {
  color: red !important; }

a.skylight-close-button {
  cursor: pointer;
  position: absolute;
  font-size: 2.8em;
  right: 20px;
  top: 13px;
  color: #1e8e1a; }

.slide-prev, .slide-next {
  font-size: 0;
  z-index: 99;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: #0000008f;
  border-radius: 100%; }

.slide-prev:before, .slide-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slide-prev {
  left: 15px; }

.slide-next {
  right: 15px; }

.fa-chevron-right {
  color: #fff;
  font-size: 24px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 3px;
  margin-top: 1px; }

.fa-chevron-left {
  color: #fff;
  font-size: 24px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: -4px;
  margin-top: 1px; }

.skylight-dialog {
  width: 90% !important;
  height: 83% !important;
  position: fixed;
  top: 30% !important;
  left: 30% !important;
  margin-top: -200px;
  margin-left: -25%;
  background-color: white;
  border-radius: 2px;
  z-index: 100;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 4px, rgba(0, 0, 0, 0.28) 0px 4px 8px;
  transform: scale(1);
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 200ms; }

@-webkit-keyframes slide {
  100% {
    left: 0; } }
@keyframes slide {
  100% {
    left: 0; } }

/*# sourceMappingURL=main.css.map */
