
@media only screen and (min-width: 1400px) {
  .scrolled, .row_51 {
    background-position: 0px 41%;
  }
}
@media only screen and (min-width: 1600px) {
  .scrolled {
    height: 81px;
    padding-top: 12px;
  }
}
@media only screen and (min-width: 1600px) {
  .scrolled {
    height: 91px;
    padding-top: 15px;
  }
  .row_51 {
    height: 99px;
    padding-top: 17px;
  }
}
@media only screen and (max-width: 1600px) {
  .team-details .team-container {
    width: 100%;
  }
}
@media only screen and (min-width: 1240px) {
  .column_46 button {
    width: 244px;
  }
  iframe {
    height: 700px;
  }
  .row_47 {

    width: 77%;
  }
    .row_51, .scrolled {
      .collumn_25 {
        width: 20% !important;
      }
      .collumn_26 {
        width: 60% !important;
      }
      .collumn_27 {
        width: 20% !important;
      }
    }

  .column_46 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: auto;
    }
  }
  .row_58 {
    height: 910px;
  }
  .row_58 .custom-post-content1 {
    width: 79%;
  }
  .row_47 {
    width: 77%;
  }
  .row_42 {
    width: 80%;
  }
  .row_51 {
    .column_27 {
      padding-top: 5px;
    }
  }
  .scrolled, .row_51 {
    .column_26, .column_27, .column_25 {
      min-height: 0px;
      height: auto;
    }
    .column_25 {
      height:1px;
    }
    .column_26 {
      div.FM2_DWFullScreenPage1menu_container{
        height: auto;
      }
      a {
        font-size: 18px;
        text-transform: uppercase;
        word-spacing: 1px;
      }
    }
    .column_27 {
      float: right;
      padding-top: 0px;
      //margin-right: 15px;
      a.button-white {
        padding: 8px 22px;
        text-transform: uppercase;
      }
    }
  }
}
@media only screen and (min-width: 1024px)  and (max-width: 1240px) {
  .row_58 {
    height: 1280px;
  }
  #google_translate_element {
    flex-grow: 0;
    margin-right: -15px;
  }
  .nav-bar {
    flex-grow: 1 !important;
  }
  iframe {
    height: 600px;
  }
  .row_38 .row_41 {
    width: 80%;
  }
  .row_51 .top-bar-outer .empty-column, .scrolled .top-bar-outer .empty-column {
    flex-grow: 2;
  }
  .row_51 .top-bar-outer a ,  .scrolled .top-bar-outer a{
    font-size: 18px;
  }
  .team-details .team-container .members-row .member-container {
    width: 18%;
  }

  .third-section {
    .inner-container {
      .inner-row {
        .row-container{
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .row_58 .skylight-dialog {
    width: 80% !important;
    height: 660px !important;
    position: fixed;
    top: 34% !important;
    left: 35% !important;
    padding-top: 50px;
  }
  .slider-calc{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
  }
}
p {
  font-size: 22px !important;
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {

  #google_translate_element {
    flex-grow: 0;
    margin-right: -15px;
  }
  .nav-bar {
    flex-grow: 1 !important;
  }

  .column_46 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: auto;
    }
  }

  iframe {
    height: 600px;
  }
  .third-section {
    .inner-container {
      .inner-row {
        .row-container{
          width: 100%;
        }
      }
    }
  }
  .row_51 .top-bar-outer .empty-column, .scrolled .top-bar-outer .empty-column {
    flex-grow: 2;
  }
  .row_51 .top-bar-outer a ,  .scrolled .top-bar-outer a{
    font-size: 17.5px;
  }

  .row_38 .row_41 {
    width: 80%;
    svg.solv-svg {
      height: 190px;
      width: 190px;
    }
    svg.eth-svg {
      height: 220px;
      width: 220px;
    }
  }
  .slide-div .slide-track .slide2, .slide-div .slide-track .slide3, .slide-div .slide-track .slide4, .slide-div .slide-track .slide5 {
    width: 90% !important;
    padding-top: 30px !important;
  }
  .row_58 .skylight-dialog {
    top: 34% !important;
  }
  img.image-field2 {
    width: 40%;
  }
  span.client-name1{
    padding-bottom:0px;
  }
  .team-details {
    margin-top: 80px;
    .team-container .members-row .member-container {
      width: 18%;
    }
  }
  .row_58 .custom-post-content1 {
    width: 79%;
  }
  .row_47 {
    width: 77%;
  }
  .row_42 {
    width: 80%;
  }
  .row_51 {
    .column_27 {
      padding-top: 5px;
    }
  }

  .slider-calc{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
  }
  .scrolled, .row_51 {
    .column_26, .column_27, .column_25 {
      min-height: 0px;
      height: auto;
    }
    .column_25 {
      width: 10%;
      height:1px;
    }
    .column_26 {
      width: 68%;
      div.FM2_DWFullScreenPage1menu_container{
        height: auto;
      }
      a {
        font-size: 18px;
        text-transform: uppercase;
        word-spacing: 1px;
      }
    }
    .column_27 {
      float: right;
      padding-top: 0px;
      //margin-right: 15px;
      width: 22%;
      a.button-white {
        padding: 8px 22px;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 888px) {
  .slide-div .slide-track .slide2, .slide-div .slide-track .slide3, .slide-div .slide-track .slide4, .slide-div .slide-track .slide5{
    width: 68%;
    padding-top: 34px;
  }
  .row_58 .skylight-dialog {
    top: 34% !important;
  }
  //.row_58 .custom-post-content1 {
  //  width: 100%;
  //  margin: 0px auto;
  //}
  img.image-field2 {
    width: 30%;
  }
  span.client-name1{
    padding-bottom:0px;
  }
  .row_30 {
    padding-top: 60px;
    padding-bottom: 80px;
    .home-section {
      //padding: 60px 0;
      .heading1 {
        .span12 {
          font-size: 43px;
        }
        .span13 {
          font-size: 24px;
        }
      }
    }
  }
}
@media only screen and (min-width: 888px) and (max-width: 992px) {
  .slide-div .slide-track .slide2, .slide-div .slide-track .slide3, .slide-div .slide-track .slide4, .slide-div .slide-track .slide5 {
    width: 80%;
    padding-top: 34px;
  }
  .row_58 .skylight-dialog {
    top: 34% !important;
  }
  //.row_58 .custom-post-content1 {
  //  width: 100%;
  //  margin: 0px auto;
  //}
  img.image-field2 {
    width: 30%;
  }
  span.client-name1{
    padding-bottom:0px;
  }
  .row_30 {
    padding-top: 60px;
    padding-bottom: 80px;
    .home-section {
      //padding: 80px 0;
      .heading1 {
        .span12 {
          font-size: 45px;
        }
        .span13 {
          font-size: 25px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .row_30 {
    height: 800px;
  }
  .skiptranslate.goog-te-gadget select {
    padding: 15px;
    width: 94px;
    height: 35px;
  }
  #google_translate_element {
    flex-grow: 0;
    margin-right: -50px;
  }
  .nav-bar {
    flex-grow: 1 !important;
  }
  .column_281 {
    width: 20%;
    padding: 0px;
  }
  .column_291 {
    width: 80%;
  }
  .third-section {
    .inner-container {
      .inner-row {
        .row-container{
          width: 100%;
          p {
            text-align: justify;
          }
          .box {
            overflow: scroll;
          }
        }
      }
    }
  }
  p {
    font-size: 20px !important;
  }
  video {
    margin-top: 68px ;
  }

  .row_51 {
    padding-top: 15px;
    .top-bar-outer {
      .empty-column{
        flex-grow: 1;
      }
      .join-sale {
        a {
          padding: 6px 12px;
        }
      }
    }
  }
  .scrolled .top-bar-outer {
    .empty-column{
      flex-grow: 1;
    }
    .join-sale {
      a {
        padding: 6px 12px;
      }
    }
  }
  .row_51 .top-bar-outer a ,  .scrolled .top-bar-outer a{
    font-size: 17px;
    text-transform: none;
  }
  .team-details {
    margin-top: 100px;
    .team-container .members-row .member-container {
      height: 350px;
      width: 23%;
    }
  }
  .team-details .skylight-dialog {
    text-align: center;
    color: #fff;
    padding: 20px 12px !important;
    background-color: #356335 !important;
    margin: 0px auto;
    width: 70% !important;
    height: 420px !important;
    left: 40% !important;
  }
  .column_46 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: auto;
    }
  }
  .scrolled, .row_51 {
    height: 68px;
    min-height: 0px;
    padding-top: 5px;
    .column_26, .column_27, .column_25 {
      min-height: 0px;
      height: auto;
    }
    .column_25 {
      width: 20%;
      height:1px;
    }
    .column_26 {
      width: 60%;
      div.FM2_DWFullScreenPage1menu_container{
        height: auto;
      }
      a {
        font-size: 16px;
        text-transform: capitalize;
        word-spacing: 0px;
      }
    }
    .column_27 {
      width: 20%;
      padding-top: 3px;
      margin-top: 8px;
      padding-right: 25px;
      float: right;
      a.button-white {
        padding: 3px 10px;
        font-size: 16px;
      }
    }
  }
  .row_30 {
    height: 650px;
    .heading1 {
      .span12 {
        font-size: 45px;
      }
      .span13 {
        font-size: 25px;
      }
    }
    .countDown {
      padding: 0 7%;
      .section {
        width: 90px;
        height: 90px;
        min-width: 0px;
        min-height: 0px;
        .time{
          font-size: 47px;
          margin-top: 31px;
        }
        .label {
          font-size: 17px;
          margin-top: 41px;
        }
      }
    }
  }
  .footer .box {
    width: 40%;
  }
  .row_38 {
    height: 866px;
    padding-top: 60px;
    .row_41 {
      padding-top: 10px;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
          flex-direction: row;
          .data {
            width: 60%;
          }
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          .eth-svg-con, .solv-svg-con {
            height: 346px;
          }
        }
        .data a.button {
          margin-top: 35px;
          height: 46px;
          padding: 7px 40px;
          text-decoration: none;
          border: 2px solid #1D8F19;
          color: #1d8f19;
          border-radius: 100px;
          cursor: pointer;
          text-align: center;
          -webkit-transition: all 0.4s linear 0s;
          -o-transition: all 0.4s linear 0s;
          transition: all 0.4s linear 0s;
          font: normal normal 400 18px/157% Source Sans Pro, sans-serif;
        }
        .my-rangeslider {
          width: 100%;
        }
      }
    }
  }

  iframe {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-view {
    display: none !important;
  }
  .mobile-roadmap {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
  }

  #community {
    .skylight-dialog {
      height: 250px !important;
      width: 70% !important;
      left: 40% !important;
      a.skylight-close-button {
        right: 20px !important;
        top: 20px !important;
      }
    }
  }
  .social_box {
    display: inline-block;
    img {
      width: 45px !important;
      margin: 10px;
    }
  }
  .mobile-roadmap {
    display: block;
    .roadmap {
      align-items: center;
      padding-top: 60px;
      padding-bottom: 90px;
      //padding: 100px 50px;
      .mobile-view-roadmap{
        display: block;
      }
    ul, p, h3, li {
      text-align: center !important;
    }
    ul {
      margin: 0px auto !important;
    }
    .inner-box {
      width: 340px;
      flex-direction: row;
      justify-content:center;
    }
    .inner-container {
      justify-content: center;
      .right-side {
        width: 100%;
        border-left: 2px solid;
        border-image:
                linear-gradient(to bottom, #166d13, #2c532d, #2c542d, #51d64a, #51d64a ) 0% 1% 2% 48%;
      }
    }
    .inner-box {
      flex-direction: row;
      padding-left: 10px;
    }
    .mid-dot-top, .mid-dot-bottom {
      margin-left: -388.2px;
    }
  }
}
  .column_281 {
    width: 20%;
    padding: 0px;
  }
  .column_291 {
    width: 80%;
    margin: 0px auto !important;
    .social-boxer {
      flex-direction: column;
      align-items: center;
      .social {
        flex-direction: row;
        justify-content: center;
        img {
          width: 70px;
        }
      }
    }
  }
  iframe {
    height: 400px;
  }
  .third-section {
    .inner-container {
      .inner-row {
        .row-container{
          width: 90%;
          flex-direction: column;
          p {
            text-align: justify;
          }
          .box {
            height: auto;
            width: 100%;
            padding: 20px;
            .third-section h3 {
              height: auto;
            }
          }
        }
      }
    }
  }
  .row_30 .home-section p {
    width: 100%;
    text-align: center;
    margin: 0px auto;
  }
  p {
    font-size: 19px !important;
  }
  .hamburger-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .music-btn {
      margin-right: 15px;
      margin-top: 0px;
      img {
        width: 50px;
        height: 50px;
        background: #ffffffbf;
        border: 1px solid #212f1d;
        border-radius: 100%;
        padding: 6px;
        -webkit-transition: all 0.1s linear 0s;
        -o-transition: all 0.1s linear 0s;
        transition: all 0.1s linear 0s;
      }
      img:hover, img:focus, img:active {
        background: #fffffff5;
        border: 1px solid #212f1d;
        border-radius: 100%;
        padding: 6px;
      }
    }
  }
  .overlay.open {
    height: 100%;
  }
  .top-bar-outer {
    display: none !important;
  }
  .team-details {
    p {
      font-size: 19px !important;
    }
    .skylight-dialog {
      text-align: center;
      color: #fff;
      padding: 20px 12px !important;
      background-color: #356335 !important;
      margin: 0px auto;
      width: 80% !important;
      height: 450px !important;
      left: 35% !important;
      p.description {
        font-size: 18px !important;
      }
    }
  }
  .row_58 .skylight-dialog {
    height: 64% !important;
    top: 37% !important;
  }
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: flex;
    img.image-field1 {
      width: 65%;
    }
  }
  .row_51, .scrolled {
    .column_25 {
      width: 15%;
    }
    .column_26 {
      width: 60%;
    }
    .column_26 .navigation, .column_27 {
      display: none;
    }
  }
  .column_46 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: auto;
    }
  }
  .row_58 {
    height: auto;
    .custom-post-content1 {
      width: 79%;
    }
    button {
      border: 0px;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
    .mobile-view img.image-field1 {
      width: 85%;
    }
    img.image-field1, img.image-field2 {
      padding-right: 0px;
      margin-bottom: 0px;
    }
  }
  .row_47 {
    width: 77%;
  }
  .row_42 {
    width: 80%;
  }

  .footer .box {
    width: 40%;
  }
  .row_30 {
    height: 546px;
    .home-section {
      width: 80%;
      //padding-top: 40px;
      margin: 0px auto;
      h1.heading1 {
        span.span12 {
          font-size: 40px;
        }
        span.span13 {
          font-size: 22px;
        }
      }
    }
  }
  .countDown {
    padding: 0;
    .timer {
      margin-top: 0px !important;
      justify-content: space-between !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 100px !important;
      width: 100px !important;
    }
    .time {
      font-size: 50px!important;
      //margin-top: 37px !important;
    }
    .label {
      font-size: 19px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      margin-top: -12px !important;
    }
  }

  .svg-style {
    display: block;
    width: 90px;
    height: 90px;
    transform: translate(0px, 0%) rotate(270deg) scale(1.2,1.2);
  }

  .row_39 {
    padding-bottom: 120px;
    padding-top: 0px;
    height: auto !important;
    .row_47 {
      padding: 0px;
    }
    .column_36 {
      padding-bottom: 50px;
    }
  }

  .row_38 {
    height: 876px;
    .row_41 {
      padding-top: 60px;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
          flex-direction: row;
          .data {
            width: 100%;
          }
          a.button-sale {
            display: none;
          }
        }
        .slider-part {
          a.button-sale {
            display: block;
          }
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
        }
        .data a.button {
          margin-top: 35px;
          height: 46px;
          padding: 7px 40px;
          text-decoration: none;
          border: 2px solid #1D8F19;
          color: #1d8f19;
          border-radius: 100px;
          cursor: pointer;
          text-align: center;
          -webkit-transition: all 0.4s linear 0s;
          -o-transition: all 0.4s linear 0s;
          transition: all 0.4s linear 0s;
          font: normal normal 400 18px/157% Source Sans Pro, sans-serif;
        }
        .my-rangeslider {
          width: 100%;
        }
      }
    }
  }
  .row_31 {
    padding-top: 30px;
    padding-bottom: 100px;
    .row_36 {
      width: 80%;
      .row_37 {
        flex-direction: column;
        img {
          width: 70%;
        }
      }
    }
  }


  .team-details {
    margin-top: 70px;
      .slider-continer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .member-container {
          color: #1e8e1a;
          width: 90%;
          height: 330px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .inner-member-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            padding: 10px 5px;
            .links {
              margin-top: 8px;
              a {
                cursor: pointer;
                font-weight: bold;
                padding: 3px 5px;
              }
              i {
                padding: 5px 10px;
                cursor: pointer;
              }
              a:hover{
                color: #1e8e1a;
                background: #e2e2e2;
              }
              i:hover {
                color: #1e8e1a;
                background: #e2e2e2;
              }
            }
            hr {
              width: 90%;
              background: linear-gradient(to right, rgba(22,109,19,1) 0%, rgba(44,83,45,1) 1%, rgba(44,84,45,1) 2%, rgba(81,214,74,1) 98%, rgba(81,214,74,1) 100%);
              height: 1px;
              border: none;
              max-width: 250px;
              -webkit-transition: all 0.2s linear 0s;
              -o-transition: all 0.2s linear 0s;
              transition: all 0.2s linear 0s;
            }
            img {
              width: 150px;
              height: 150px;
              margin: 0px auto;
              border-radius: 100%;
              -webkit-transition: all 0.2s linear 0s;
              -o-transition: all 0.2s linear 0s;
              transition: all 0.2s linear 0s;
              box-shadow: 1px 1px 1px 1px #e2e2e2;
            }
            .info {
              p {
                font-size: 18px;
                padding: 0px;
                margin: 0px;
              }
              p.name {
                text-align: center;
              }
              p.designation {
                text-align: center;
                font-weight: 500;
              }
            }
          }
          .inner-member-container:hover {
            width: 100%;
            border: 1px solid #d6d8d6;
            box-shadow: 0px 0px 1px 1px #d6d8d6;
            .hassan {
              p{
                font-size: 17px;
              }
              p.designation{
                font-size: 16px;
              }
            }
            hr.hassan {
              //margin: 0px;
            }
            img {
              width: 170px !important;
              height: 170px !important;
            }
            hr {
              width: 95%;
            }
          }
        }
      }
    .slick-prev {
      left: 15px;
      z-index: 99;
    }
    .slick-next {
      right: 13px;
    }
  }


  .row_38 {
    padding-top: 60px;
    .row_41 {
      padding-top: 25px;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          svg.eth-svg {
            width: 210px;
            height: 210px;
          }
          svg.solv-svg {
            width: 190px;
            height: 190px;
          }
        }
        .data a.button {
          width: 92%;
          margin-top: 35px;
        }
        .my-rangeslider {
          width: 100%;
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .row_51 #nav-icon4 {
    width: 50px;
    margin-right: 27px;
    span {
      height: 6px;
    }
    span:nth-child(2) {
      top: 15px;
    }
    span:nth-child(3) {
      top: 30px;
    }
  }
  video {
    width: 100%;
    margin-top: 66px;
  }

  #community {
    .skylight-dialog {
      height: 250px !important;
      width: 80% !important;
      left: 35% !important;
      a.skylight-close-button {
        right: 20px !important;
        top: 20px !important;
      }
    }
  }
  iframe {
    height: 350px;
  }
  p {
    text-align: justify !important;
    font-size: 19px !important;
  }
.team-details hr {
  width: 80% !important;
}
  .audio-icon img {
    width: 40px;
    height: 40px;
    background: #fff;
  }
  .audio-icon {
    bottom: 30px;
    right: 20px;
  }
  .team-details {
    p.designation, p.name {
      text-align: center !important;
    }
  }
  .team-details .skylight-dialog {
    text-align: center;
    color: #fff;
    padding: 20px 12px !important;
    background-color: #356335 !important;
    margin: 0px auto;
    width: 90% !important;
    height: 450px !important;
    left: 30% !important;
    overflow: scroll;
    p.description {
      text-align: justify;
      padding: 0px;
      margin: 0px;
      margin-top: 10px;
      font-size: 15px;
    }
  }
  .row_58 .skylight-dialog {
   overflow: scroll;
    top: 60% !important;
    img.image-field2{
      width: 75%;
    }
    span, p {
      letter-spacing: 0px;
      word-spacing: 0px;
    }
  }
  .scrolled #nav-icon4 {
    width: 50px;
    margin-right: 10px;
    span {
      height: 4px;
    }
    span:nth-child(2) {
      top: 13px;
    }
    span:nth-child(3) {
      top: 26px;
    }
  }


  .countDown {
    padding: 0;
    margin-top: 0px;
    .timer {
      justify-content: space-between !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 80px !important;
      width: 80px !important;
    }
    .time {
      font-size: 40px !important;
      //margin-top: 27px !important;
    }
    .label {
      font-size: 17px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      //margin-top: 29px !important;
    }
  }

  .svg-style {
    display: block;
    width: 90px;
    height: 90px;
    transform: translate(0px, 0%) rotate(270deg) scale(1.0,1.0);
  }
  p {
    text-align: justify;
  }

  .row_30 {
    height: 546px;
    padding-top: 60px;
    padding-bottom: 80px;
    .home-section {
      width: 80%;
      margin: 0px auto;
      //padding: 30px 0;
      h1.heading1 {
        span.span12 {
          font-size: 35px;
        }
        span.span13 {
          text-align: justify;
          font-size: 19px;
        }
      }
    }
  }
  .footer .box {
    width: 70%;
  }
  .row_31 {
    padding-top: 0px;
    padding-bottom: 140px;
    .row_36 {
      padding: 0px;
      .row_37 {
        flex-direction: column;
        img {
          width: 70%;
        }
      }
      .column_29 {
        padding-top: 20px;
      }
    }
  }
  .row_39 {
    padding-bottom: 100px;
    .column_36 {
      width: 100%;
    }
    .slick-dots li button:before {
       font-size: 29px;
    }
  }

  .row_51 {
    height: 82px;
    .column_26{
      display: none;
    }
    #nav-icon4 {
      width: 45px;
      margin-right: 23px;
    }
    #nav-icon4 span {
      height: 5px;
    }
    #nav-icon4 span:nth-child(2) {
      top: 14px;
    }
    #nav-icon4 span:nth-child(3) {
      top: 28px;
    }
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -2px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }
  .scrolled {
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 2px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }

  .overlay.open {
    height: 100%;
  }
  .overlay {
    top: 80px;
  }

  .column_291 {
    width: 80%;
    margin: 0px auto !important;
  }
  .row_38 {
    height: 876px;
    padding-top: 60px;
    .row_41 {
      padding-top: 0px;
      width: 80%;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .slider-part {
          a.button-sale {
            width: 92%;
            max-width: 250px;
            margin: 0px auto;
            margin-top: 45px;
          }
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          .solv-svg-con, .eth-svg-con {
            height: 290px;
          }
          svg.eth-svg {
            width: 120px;
            height: 190px;
          }
          svg.solv-svg {
            width: 170px;
            height: 170px;
          }
        }
        .my-rangeslider {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 434px) {
  .row_58 .mobile-view img.image-field1 {
    width: 100%;
  }

  #community {
    .skylight-dialog {
      height: 300px !important;
      width: 80% !important;
      left: 35% !important;
      a.skylight-close-button {
        right: 20px !important;
        top: 20px !important;
      }
    }
  }
  .column_291 {
    width: 80%;
    margin: 0px auto !important;
  }
  .social_box {
    img {
      width: 33px !important;
      margin: 10px;
    }
  }
  img.image-field2{
    width: 55%;
  }

  .mobile-roadmap {
    display: block;
    .roadmap {
      align-items: center;
      padding-top: 60px;
      padding-bottom: 90px;
      //padding: 100px 50px;
      .mobile-view-roadmap{
        display: block;
      }
      ul, p, h3, li {
        text-align: center !important;
      }
      ul {
        margin: 0px auto !important;
      }
      .inner-box {
        width: 280px;
        flex-direction: column !important;
        justify-content:center;
      }
      .inner-box.active {
        box-shadow: 0 0 1px 1px #e2e2e2;
        height: 300px;
        .image {
          height: 122px;
        }
        img {
          width: 95%;
          animation: roadMapActive 1s infinite;
        }
      }
      .inner-container {
        justify-content: flex-start;
        .right-side {
          border-left: 2px solid #1e8e1a;
        }
      }
      .inner-box {
        flex-direction: row;
        padding-left: 10px;
      }
      .mid-dot-top, .mid-dot-bottom {
        margin-left: -329.2px;
      }
    }
  }
  .mobile-view.roadmap-img p {
    width: 250px;
    line-height: 1.3;
    padding: 15px;
  }
  p, span{
    word-spacing: 0px;
    letter-spacing: 0px;
  }
  .overlay.open {
    height: 100%;
  }
  .row_51 {
    .column_26{
      display: none;
    }
  }

  iframe {
    height: 300px;
  }
  p {
    font-size: 18px !important;
  }
  .team-details .skylight-dialog {
    text-align: center;
    color: #fff;
    padding: 20px 12px !important;
    background-color: #356335 !important;
    margin: 0px auto;
    width: 90% !important;
    height: 380px !important;
    left: 30% !important;
    overflow: scroll;
  }
  .team-details hr {
    width: 60% !important;
  }
  .countDown {
    padding: 0;
    //margin-top: 190px;
    .timer {
      justify-content: center !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 70px !important;
      width: 70px !important;
    }
    .time {
      font-size: 36px !important;
      //margin-top: 23px !important;
    }
    .label {
      font-size: 14px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      margin-top: -30px !important;
    }
  }

  .svg-style {
    display: block;
    width: 86px;
    height: 86px;
    transform: translate(0px, 0%) rotate(270deg) scale(0.8,0.8);
  }
  .row_30 {
    height: 500px;
    .home-section {
      width: 80%;
      margin: 0px auto;
      //padding-top: 10px;
      h1.heading1 {
        span.span12 {
          margin-bottom: 15px;
          font-size: 33px;
        }
        span.span13 {
          font-size: 18px;
          letter-spacing: 0px;
        }
      }
    }
  }
  .row_31 {
    padding-top: 0px;
    padding-bottom: 140px;
  }
  .row_51 {
    height: 82px;
    .column_26{
      display: none;
    }
    #nav-icon4 {
      width: 45px;
      margin-right: 23px;
    }
    #nav-icon4 span {
      height: 5px;
    }
    #nav-icon4 span:nth-child(2) {
      top: 14px;
    }
    #nav-icon4 span:nth-child(3) {
      top: 28px;
    }
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -1px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }
  .scrolled {
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 2px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }
  .ant-notification-notice-closable .ant-notification-notice-message {
    padding-right: 5px;
  }


  .row_38 {
    height: 856px;
    padding-top: 60px;
    .row_41 {
      padding-top: 0px;
      width: 80%;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          .solv-svg-con, .eth-svg-con {
            height: 290px;
          }
          .counter {
            width: 120px;
          }
          svg.eth-svg {
            width: 100px;
            height: 190px;
          }
          svg.solv-svg {
            width: 140px;
            height: 140px;
          }
        }
        .data a.button {
          width: 100%;
          margin-top: 45px;
          padding: 7px 5px !important;
        }
        .my-rangeslider {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 379px) {
  .countdown_with_background_v1 {
    display: none;
  }
  .overlay.open {
    height: 100%;
  }

  .audio-icon img {
    width: 30px;
    height: 30px;
    background: #fff;
  }
  .audio-icon {
    bottom: 20px;
    right: 20px;
  }
  .team-details .skylight-dialog {
    top: 60% !important;
  }

  .row_51 {
    height: 82px;
    .column_26{
      display: none;
    }
    #nav-icon4 {
      width: 38px;
      margin-right: 23px;
    }
    #nav-icon4 span {
      height: 4px;
    }
    #nav-icon4 span:nth-child(2) {
      top: 13px;
    }
    #nav-icon4 span:nth-child(3) {
      top: 26px;
    }
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 1px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 28px;
      left: 8px;
    }
  }
  .scrolled {
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 2px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }
  .countDown {
    padding: 0;
    //margin-top: 155px;
    .timer {
      justify-content: center !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 60px !important;
      width: 60px !important;
    }
    .time {
      font-size: 30px !important;
      //margin-top: 18px !important;
    }
    .label {
      font-size: 13px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      //margin-top: 17px !important;
    }
  }
  .ant-notification-notice-close {
    right: 12px;
    top: 6px;
  }
  .ant-notification {
    margin-right: 12px;
  }
  .row_30 {
    height: 500px;
    .home-section {
      width: 80%;
      margin: 0px auto;
      padding: 0;
      h1.heading1 {
        margin: 30px auto;
        span.span12 {
          font-size: 33px;
          line-height: 36px;
        }
        span.span13 {
          font-size: 17px;
          letter-spacing: 0px;
        }
      }
    }
  }


  .row_38 {
    height: 806px;
    padding-top: 60px;
    .row_41 {
      padding-top: 0px;
      width: 80%;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          .solv-svg-con, .eth-svg-con {
            height: 230px;
          }
          svg.eth-svg {
            width: 90px;
            height: 190px;
          }
          svg.solv-svg {
            width: 150px;
            height: 150px;
          }
        }
        .data a.button {
          width: 92%;
          margin: 0px auto;
          margin-top: 45px;
        }
        .my-rangeslider {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 350px) {
  .countdown_with_background_v1 {
    display: none;
  }
  .audio-controls {
    right: -250px;
  }


  .mobile-roadmap {
    display: block;
    .roadmap {
      align-items: center;
      padding-top: 60px;
      padding-bottom: 90px;
      //padding: 100px 50px;
      .mobile-view-roadmap{
        display: block;
      }
      ul, p, h3, li {
        text-align: center !important;
      }
      ul {
        margin: 0px auto !important;
      }
      .inner-box {
        width: 200px;
        flex-direction: column !important;
        justify-content:center;
        .image {
          width: 100px;
        }
      }
      .inner-container {
        justify-content: flex-start;
        .right-side {
          border-left: 2px solid #1e8e1a;
        }
      }
      .inner-box {
        flex-direction: row;
        padding-left: 10px;
      }
      .mid-dot-top, .mid-dot-bottom {
        margin-left: -249.2px;
      }
    }
  }
  .mobile-view.roadmap-img p {
    width: 230px;
    line-height: 1.3;
    padding: 15px;
  }
  iframe {
    height: 250px;
  }
  .slick-dots {
    bottom: -60px;
  }
  .row_39 .slick-dots li button:before {
    font-size: 18px;
  }
  .row_51 .column_26 {
    display: none;
  }
  .row_30 {
    height: 480px;
    .home-section {
      width: 80%;
      margin: 0px auto;
      padding: 0px;
      h1.heading1 {
        margin: 40px auto;
        span.span12 {
          font-size: 33px;
        }
        span.span13 {
          font-size: 16px;
        }
      }
    }
  }
  .countDown {
    padding: 0;
    //margin-top: 155px;
    .timer {
      justify-content: center !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 55px !important;
      width: 55px !important;
    }
    .days, .hours, .minutes, .seconds {
      width: 60px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .time {
      width: 36px !important;
      font-size: 27px !important;
    }
    .label {
      font-size: 14px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      width: 36px !important;
      font-weight: 500;
    }
  }
  .svg-style {
    display: block;
    width: 88px;
    height: 88px;
    transform: translate(0px, 0%) rotate(270deg) scale(0.65,0.65);
  }

  .row_38 {
    height: 796px;
    padding-top: 60px;
    .row_41 {
      padding-top: 0px;
      width: 80%;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          .solv-svg-con, .eth-svg-con {
            height: 230px;
          }
          svg.eth-svg {
            width: 80px;
            height: 130px;
          }
          svg.solv-svg {
            width: 130px;
            height: 130px;
          }
        }
        .data a.button {
          width: 92%;
          margin-top: 45px;
        }
        .my-rangeslider {
          width: 100%;
        }
      }
    }
  }
}