
@media only screen and (min-width: 1400px) {
  .scrolled, .row_51 {
    background-position: 0px 41%;
  }
}
@media only screen and (max-width: 1600px) {
  .team-details .team-container {
    width: 100%;
  }
}
@media only screen and (min-width: 1240px) {
  .column_46 button {
    width: 244px;
  }
  .row_47 {
    width: 77%;
  }
    .row_51, .scrolled {
      .collumn_25 {
        width: 20% !important;
      }
      .collumn_26 {
        width: 60% !important;
      }
      .collumn_27 {
        width: 20% !important;
      }
    }

  .column_46 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: auto;
    }
  }
  .row_58 {
    height: 910px;
  }
  .row_58 .custom-post-content1 {
    width: 79%;
  }
  .row_47 {
    width: 77%;
  }
  .row_42 {
    width: 80%;
  }
  .row_51 {
    .column_27 {
      padding-top: 5px;
    }
  }
  .scrolled, .row_51 {
    .column_26, .column_27, .column_25 {
      min-height: 0px;
      height: auto;
    }
    .column_25 {
      height:1px;
    }
    .column_26 {
      div.FM2_DWFullScreenPage1menu_container{
        height: auto;
      }
      a {
        font-size: 18px;
        text-transform: uppercase;
        word-spacing: 1px;
      }
    }
    .column_27 {
      float: right;
      padding-top: 0px;
      //margin-right: 15px;
      a.button-white {
        padding: 8px 22px;
        text-transform: uppercase;
      }
    }
  }
}
@media only screen and (min-width: 1024px)  and (max-width: 1240px) {
  .row_58 {
    height: 1280px;
  }
  .row_38 .row_41 {
    width: 80%;
  }

  .team-details .team-container .members-row .member-container {
    width: 18%;
  }
}
@media only screen and (min-width: 1024px) {
  .row_58 .skylight-dialog {
    width: 80% !important;
    height: 660px !important;
    position: fixed;
    top: 34% !important;
    left: 35% !important;
    padding-top: 50px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .column_46 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: auto;
    }
  }
  .row_38 .row_41 {
    width: 80%;
    svg.solv-svg {
      height: 190px;
      width: 190px;
    }
    svg.eth-svg {
      height: 220px;
      width: 220px;
    }
  }
  .slide-div .slide-track .slide2, .slide-div .slide-track .slide3, .slide-div .slide-track .slide4, .slide-div .slide-track .slide5 {
    width: 90% !important;
    padding-top: 30px !important;
  }
  .row_58 .skylight-dialog {
    top: 34% !important;
  }
  img.image-field2 {
    width: 40%;
  }
  span.client-name1{
    padding-bottom:0px;
  }
  .team-details {
    margin-top: 80px;
    .team-container .members-row .member-container {
      width: 18%;
    }
  }
  .row_58 .custom-post-content1 {
    width: 79%;
  }
  .row_47 {
    width: 77%;
  }
  .row_42 {
    width: 80%;
  }
  .row_51 {
    .column_27 {
      padding-top: 5px;
    }
  }
  .scrolled, .row_51 {
    .column_26, .column_27, .column_25 {
      min-height: 0px;
      height: auto;
    }
    .column_25 {
      width: 10%;
      height:1px;
    }
    .column_26 {
      width: 68%;
      div.FM2_DWFullScreenPage1menu_container{
        height: auto;
      }
      a {
        font-size: 18px;
        text-transform: uppercase;
        word-spacing: 1px;
      }
    }
    .column_27 {
      float: right;
      padding-top: 0px;
      //margin-right: 15px;
      width: 22%;
      a.button-white {
        padding: 8px 22px;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 888px) {
  .slide-div .slide-track .slide2, .slide-div .slide-track .slide3, .slide-div .slide-track .slide4, .slide-div .slide-track .slide5{
    width: 68%;
    padding-top: 34px;
  }
  .row_58 .skylight-dialog {
    top: 34% !important;
  }
  //.row_58 .custom-post-content1 {
  //  width: 100%;
  //  margin: 0px auto;
  //}
  img.image-field2 {
    width: 30%;
  }
  span.client-name1{
    padding-bottom:0px;
  }
  .row_30 {
    .home-section {
      padding: 60px 0;
      .heading1 {
        .span12 {
          font-size: 43px;
        }
        .span13 {
          font-size: 24px;
        }
      }
    }
  }
}
@media only screen and (min-width: 888px) and (max-width: 992px) {
  .slide-div .slide-track .slide2, .slide-div .slide-track .slide3, .slide-div .slide-track .slide4, .slide-div .slide-track .slide5 {
    width: 80%;
    padding-top: 34px;
  }
  .row_58 .skylight-dialog {
    top: 34% !important;
  }
  //.row_58 .custom-post-content1 {
  //  width: 100%;
  //  margin: 0px auto;
  //}
  img.image-field2 {
    width: 30%;
  }
  span.client-name1{
    padding-bottom:0px;
  }
  .row_30 {
    .home-section {
      padding: 80px 0;
      .heading1 {
        .span12 {
          font-size: 45px;
        }
        .span13 {
          font-size: 25px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .row_30 {
    height: 800px;
  }
  video {
    margin-top: 68px ;
  }

  .team-details {
    margin-top: 100px;
    .team-container .members-row .member-container {
      width: 23%;
    }
  }
  .team-details .skylight-dialog {
    text-align: center;
    color: #fff;
    padding: 20px 12px !important;
    background-color: #356335 !important;
    margin: 0px auto;
    width: 70% !important;
    height: 340px !important;
    left: 40% !important;
  }
  .column_46 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: auto;
    }
  }
  .scrolled, .row_51 {
    height: 68px;
    min-height: 0px;
    padding-top: 5px;
    .column_26, .column_27, .column_25 {
      min-height: 0px;
      height: auto;
    }
    .column_25 {
      width: 20%;
      height:1px;
    }
    .column_26 {
      width: 60%;
      div.FM2_DWFullScreenPage1menu_container{
        height: auto;
      }
      a {
        font-size: 16px;
        text-transform: capitalize;
        word-spacing: 0px;
      }
    }
    .column_27 {
      width: 20%;
      padding-top: 3px;
      margin-top: 8px;
      padding-right: 25px;
      float: right;
      a.button-white {
        padding: 3px 10px;
        font-size: 16px;
      }
    }
  }
  .row_30 {
    height: 650px;
    .heading1 {
      .span12 {
        font-size: 45px;
      }
      .span13 {
        font-size: 25px;
      }
    }
    .countDown {
      .section {
        width: 90px;
        height: 90px;
        min-width: 0px;
        min-height: 0px;
        .time{
          font-size: 47px;
          margin-top: 31px;
        }
        .label {
          font-size: 17px;
          margin-top: 41px;
        }
      }
    }
  }
  .footer .box {
    width: 40%;
  }
  .row_38 {
    .row_41 {
      padding-top: 60px;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
        }
        .data a.button {
          margin-top: 35px;
        }
        .my-rangeslider {
          width: 7%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
  .overlay.open {
    height: 100%;
  }
  .team-details .skylight-dialog {
    text-align: center;
    color: #fff;
    padding: 20px 12px !important;
    background-color: #356335 !important;
    margin: 0px auto;
    width: 80% !important;
    height: 340px !important;
    left: 35% !important;
  }
  .row_58 .skylight-dialog {
    height: 64% !important;
    top: 37% !important;
  }
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: flex;
    img.image-field1 {
      width: 65%;
    }
  }
  .row_51, .scrolled {
    .column_25 {
      width: 15%;
    }
    .column_26 {
      width: 60%;
    }
    .column_26 .navigation, .column_27 {
      display: none;
    }
  }
  .column_46 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      width: auto;
    }
  }
  .row_58 {
    height: auto;
    .custom-post-content1 {
      width: 79%;
    }
    button {
      border: 0px;
      background: transparent;
    }
    .mobile-view img.image-field1 {
      width: 85%;
    }
  }
  .row_47 {
    width: 77%;
  }
  .row_42 {
    width: 80%;
  }

  .footer .box {
    width: 40%;
  }
  .row_30 {
    height: 546px;
    .home-section {
      width: 80%;
      padding-top: 40px;
      margin: 0px auto;
      h1.heading1 {
        span.span12 {
          font-size: 40px;
        }
        span.span13 {
          font-size: 22px;
        }
      }
    }
  }
  .countDown {
    padding: 0;
    .timer {
      justify-content: space-between !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 100px !important;
      width: 100px !important;
    }
    .time {
      font-size: 50px!important;
      margin-top: 37px !important;
    }
    .label {
      font-size: 19px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      margin-top: 43px !important;
    }
  }
  .row_39 {
    padding-bottom: 120px;
    padding-top: 0px;
    height: auto !important;
    .row_47 {
      padding: 0px;
    }
    .column_36 {
      padding-bottom: 50px;
    }
  }
  .row_38 {
    height:846px;
    padding: 0px;
    .row_41 {
      padding: 0px;
      .row_42 {
        margin-top: 220px;
        padding: 0px;
      }
    }
  }
  .row_31 {
    padding-top: 0px;
    padding-bottom: 100px;
    .row_36 {
      width: 80%;
    }
  }


  .team-details {
    margin-top: 70px;
      .slider-continer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .member-container {
          color: #1e8e1a;
          width: 90%;
          height: 330px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .inner-member-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            padding: 10px 5px;
            .links {
              margin-top: 8px;
              a {
                cursor: pointer;
                font-weight: bold;
                padding: 3px 5px;
              }
              i {
                padding: 5px 10px;
                cursor: pointer;
              }
              a:hover{
                color: #1e8e1a;
                background: #e2e2e2;
              }
              i:hover {
                color: #1e8e1a;
                background: #e2e2e2;
              }
            }
            hr {
              width: 90%;
              background: linear-gradient(to right, rgba(22,109,19,1) 0%, rgba(44,83,45,1) 1%, rgba(44,84,45,1) 2%, rgba(81,214,74,1) 98%, rgba(81,214,74,1) 100%);
              height: 1px;
              border: none;
              max-width: 250px;
              -webkit-transition: all 0.2s linear 0s;
              -o-transition: all 0.2s linear 0s;
              transition: all 0.2s linear 0s;
            }
            img {
              width: 150px;
              height: 150px;
              margin: 0px auto;
              border-radius: 100%;
              -webkit-transition: all 0.2s linear 0s;
              -o-transition: all 0.2s linear 0s;
              transition: all 0.2s linear 0s;
              box-shadow: 1px 1px 1px 1px #e2e2e2;
            }
            .info {
              p {
                font-size: 18px;
                padding: 0px;
                margin: 0px;
              }
              p.name {
                text-align: center;
              }
              p.designation {
                text-align: center;
                font-weight: 500;
              }
            }
          }
          .inner-member-container:hover {
            width: 100%;
            border: 1px solid #d6d8d6;
            box-shadow: 0px 0px 1px 1px #d6d8d6;
            .hassan {
              p{
                font-size: 17px;
              }
              p.designation{
                font-size: 16px;
              }
            }
            hr.hassan {
              //margin: 0px;
            }
            img {
              width: 170px !important;
              height: 170px !important;
            }
            hr {
              width: 95%;
            }
          }
        }
      }
    .slick-prev {
      left: 15px;
      z-index: 99;
    }
    .slick-next {
      right: 13px;
    }
  }


  .row_38 {
    padding-top: 60px;
    .row_41 {
      padding-top: 25px;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          svg.eth-svg {
            width: 210px;
            height: 210px;
          }
          svg.solv-svg {
            width: 190px;
            height: 190px;
          }
        }
        .data a.button {
          width: 92%;
          margin-top: 35px;
        }
        .my-rangeslider {
          width: 7%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .row_51 #nav-icon4 {
    width: 50px;
    margin-right: 37px;
    span {
      height: 6px;
    }
    span:nth-child(2) {
      top: 15px;
    }
    span:nth-child(3) {
      top: 30px;
    }
  }
  video {
    width: 100%;
    margin-top: 82px;
  }
.team-details hr {
  width: 80% !important;
}
  .audio-icon img {
    width: 40px;
    height: 40px;
    background: #fff;
  }
  .audio-icon {
    bottom: 30px;
    right: 20px;
  }
  .team-details p {
    text-align: center;
  }
  .team-details .skylight-dialog {
    text-align: center;
    color: #fff;
    padding: 20px 12px !important;
    background-color: #356335 !important;
    margin: 0px auto;
    width: 90% !important;
    height: 340px !important;
    left: 30% !important;
  }
  .row_58 .skylight-dialog {
   overflow: scroll;
    top: 50% !important;
    img.image-field2{
      width: 45%;
    }
  }
  .scrolled #nav-icon4 {
    width: 50px;
    margin-right: 25px;
    span {
      height: 4px;
    }
    span:nth-child(2) {
      top: 13px;
    }
    span:nth-child(3) {
      top: 26px;
    }
  }


  .countDown {
    padding: 0;
    margin-top: 220px;
    .timer {
      justify-content: space-between !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 80px !important;
      width: 80px !important;
    }
    .time {
      font-size: 40px !important;
      margin-top: 27px !important;
    }
    .label {
      font-size: 17px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      margin-top: 29px !important;
    }
  }

  p {
    text-align: justify;
  }

  .row_30 {
    height: 546px;
    .home-section {
      width: 80%;
      margin: 0px auto;
      padding: 30px 0;
      h1.heading1 {
        span.span12 {
          font-size: 35px;
        }
        span.span13 {
          text-align: justify;
          font-size: 19px;
        }
      }
    }
  }
  .footer .box {
    width: 70%;
  }
  .row_31 {
    padding-top: 0px;
    padding-bottom: 140px;
    .row_36 {
      padding: 0px;
      .column_29 {
        padding-top: 20px;
      }
    }
  }
  .row_39 {
    padding-bottom: 100px;
    .column_36 {
      width: 100%;
    }
    .slick-dots li button:before {
       font-size: 29px;
    }
  }

  .row_51 {
    height: 82px;
    .column_26{
      display: none;
    }
    #nav-icon4 {
      width: 45px;
      margin-right: 33px;
    }
    #nav-icon4 span {
      height: 5px;
    }
    #nav-icon4 span:nth-child(2) {
      top: 14px;
    }
    #nav-icon4 span:nth-child(3) {
      top: 28px;
    }
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -2px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }
  .scrolled {
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 2px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }

  .overlay.open {
    height: 100%;
  }
  .overlay {
    top: 80px;
  }

  .row_38 {
    height: 796px;
    padding-top: 60px;
    .row_41 {
      padding-top: 25px;
      width: 80%;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          .solv-svg-con, .eth-svg-con {
            height: 290px;
          }
          svg.eth-svg {
            width: 120px;
            height: 190px;
          }
          svg.solv-svg {
            width: 170px;
            height: 170px;
          }
        }
        .data a.button {
          width: 92%;
          margin-top: 35px;
        }
        .my-rangeslider {
          width: 7%;
        }
      }
    }
  }
}
@media only screen and (max-width: 434px) {
  .row_58 .mobile-view img.image-field1 {
    width: 100%;
  }
  img.image-field2{
    width: 55%;
  }
  .overlay.open {
    height: 100%;
  }
  .row_51 {
    .column_26{
      display: none;
    }
  }

  .team-details hr {
    width: 60% !important;
  }
  .countDown {
    padding: 0;
    margin-top: 190px;
    .timer {
      justify-content: space-between !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 70px !important;
      width: 70px !important;
    }
    .time {
      font-size: 36px !important;
      margin-top: 23px !important;
    }
    .label {
      font-size: 14px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      margin-top: 23px !important;
    }
  }

  .row_30 {
    height: 500px;
    .home-section {
      width: 80%;
      margin: 0px auto;
      padding-top: 10px;
      h1.heading1 {
        span.span12 {
          margin-bottom: 15px;
          font-size: 33px;
        }
        span.span13 {
          font-size: 18px;
          letter-spacing: 0px;
        }
      }
    }
  }
  .row_31 {
    padding-top: 0px;
    padding-bottom: 140px;
  }
  .row_51 {
    height: 82px;
    .column_26{
      display: none;
    }
    #nav-icon4 {
      width: 45px;
      margin-right: 33px;
    }
    #nav-icon4 span {
      height: 5px;
    }
    #nav-icon4 span:nth-child(2) {
      top: 14px;
    }
    #nav-icon4 span:nth-child(3) {
      top: 28px;
    }
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -1px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }
  .scrolled {
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 2px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }
  .ant-notification-notice-closable .ant-notification-notice-message {
    padding-right: 5px;
  }


  .row_38 {
    height: 796px;
    padding-top: 60px;
    .row_41 {
      padding-top: 25px;
      width: 80%;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          .solv-svg-con, .eth-svg-con {
            height: 290px;
          }
          .counter {
            width: 120px;
          }
          svg.eth-svg {
            width: 100px;
            height: 190px;
          }
          svg.solv-svg {
            width: 140px;
            height: 140px;
          }
        }
        .data a.button {
          width: 100%;
          margin-top: 35px;
          padding: 7px 5px !important;
        }
        .my-rangeslider {
          width: 7%;
        }
      }
    }
  }
}

@media only screen and (max-width: 379px) {
  .countdown_with_background_v1 {
    display: none;
  }
  .overlay.open {
    height: 100%;
  }

  .audio-icon img {
    width: 30px;
    height: 30px;
    background: #fff;
  }
  .audio-icon {
    bottom: 20px;
    right: 20px;
  }
  .team-details .skylight-dialog {
    top: 60% !important;
  }

  .row_51 {
    height: 82px;
    .column_26{
      display: none;
    }
    #nav-icon4 {
      width: 38px;
      margin-right: 33px;
    }
    #nav-icon4 span {
      height: 4px;
    }
    #nav-icon4 span:nth-child(2) {
      top: 13px;
    }
    #nav-icon4 span:nth-child(3) {
      top: 26px;
    }
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 1px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 28px;
      left: 8px;
    }
  }
  .scrolled {
    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 2px;
      left: 8px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 31px;
      left: 8px;
    }
  }
  .countDown {
    padding: 0;
    margin-top: 155px;
    .timer {
      justify-content: space-between !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 60px !important;
      width: 60px !important;
    }
    .time {
      font-size: 30px !important;
      margin-top: 18px !important;
    }
    .label {
      font-size: 13px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      margin-top: 17px !important;
    }
  }
  .ant-notification-notice-close {
    right: 12px;
    top: 6px;
  }
  .ant-notification {
    margin-right: 12px;
  }
  .row_30 {
    height: 500px;
    .home-section {
      width: 80%;
      margin: 0px auto;
      padding: 0;
      h1.heading1 {
        margin: 30px auto;
        span.span12 {
          font-size: 33px;
          line-height: 36px;
        }
        span.span13 {
          font-size: 17px;
          letter-spacing: 0px;
        }
      }
    }
  }


  .row_38 {
    height: 796px;
    padding-top: 60px;
    .row_41 {
      padding-top: 25px;
      width: 80%;
      .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0px;
        .data {
          width: 100%;
        }
        .slider-calc {
          display: flex;
          margin-bottom: 10px;
          justify-content: space-between;
        }
        .svg_con {
          display: flex;
          justify-content: space-between;
          .solv-svg-con, .eth-svg-con {
            height: 290px;
          }
          .counter {
            width: 120px;
          }
          svg.eth-svg {
            width: 100px;
            height: 190px;
          }
          svg.solv-svg {
            width: 140px;
            height: 140px;
          }
        }
        .data a.button {
          width: 100%;
          margin-top: 35px;
          padding: 7px 5px !important;
        }
        .my-rangeslider {
          display: none;
        }
        .my-rangeslider-2 {
          display: block;
        }
        .rangeslider-horizontal .rangeslider__fill {
          background:  linear-gradient(to right, rgba(22,109,19,1) 0%, rgba(44,83,45,1) 1%, rgba(44,84,45,1) 5%, rgba(81,214,74,1) 98%, rgba(81,214,74,1) 100%);
        }
      }
    }
  }
}
@media only screen and (max-width: 350px) {
  .countdown_with_background_v1 {
    display: none;
  }
  .slick-dots {
    bottom: -60px;
  }
  .row_39 .slick-dots li button:before {
    font-size: 18px;
  }
  .row_51 .column_26 {
    display: none;
  }
  .row_30 {
    height: 480px;
    .home-section {
      width: 80%;
      margin: 0px auto;
      padding: 0px;
      h1.heading1 {
        margin: 40px auto;
        span.span12 {
          font-size: 33px;
        }
        span.span13 {
          font-size: 16px;
        }
      }
    }
  }
  .countDown {
    padding: 0;
    margin-top: 155px;
    .timer {
      justify-content: space-between !important;
    }
    .section {
      min-height: 0px !important;
      min-width: 0px !important;
      height: 55px !important;
      width: 55px !important;
    }
    .time {
      font-size: 27px !important;
      margin-top: 19px !important;
    }
    .label {
      font-size: 12px !important;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      min-width: 0px;
      color: #51d64b;
      font-weight: 500;
      margin-top: 17px !important;
    }
  }

}